.card__Image{
    height: 20rem;
}
.card .card-action {
    height: 5rem;
}
.card .card-content{
    height: 12rem;
}
.card .card-title{
    color: black !important;
    font-weight: bold;
    font-size: 1rem;
    background-color: #f0f0f0;
    padding: 10px !important;
}