.navbar{
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}
a{
    cursor: pointer;
}

nav{
    background: #8e2de2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav-wrapper{
    width: 90%;
    margin: auto;
}

.navbar__form{
    width: 0;
    position: absolute;
    left: 15rem;
    visibility: visible;
}

.width100{
    width: 80% !important;
}

.slide_form{
    overflow: hidden;
}

.slide_form input{
    padding-left: 2rem !important;
}
.slide_form input::-webkit-input-placeholder { /* Edge */
    padding-left: 3rem;
}
  
.slide_form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    padding-left: 3rem;
}
  
.slide_form input::placeholder {
    padding-left: 3rem;
}


.label-icon{
    cursor: pointer !important;
}

#slide-out{
    z-index: 10000;
}


@media only screen and (max-width: 993px){
    .navbar__form{
        visibility: hidden;
    }
}

.background img{
    width: 100%;
    height: 100%
}
.options{
    margin-top: .5rem;
}

