.carousel{
    height: 100vh;
    margin-bottom: -200px;
    z-index: -1;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 75%);
    mask-image: linear-gradient(to top, transparent 5%, black 75%);
}

.carousel-item img{
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 993px){
    .carousel{
        margin-bottom: -100px;
    }
}
